#built application files
*.apk
*.ap_

#files from dex vm
*.dex

#Class files
*.class

#Gradle files
.gradle/
NgombePlanner/build/
gradle/wrapper/gradle-wrapper.properties
NgombePlanner/build.gradle
NgombePlanner/NgombePlanner.iml
Android.iml

#Local configuration files
local.properties

#Intellij IDEA files
.idea/workspace.xml
.idea/tasks.xml
.idea/datasrouces.xml
.idea/dataSources.ids
.idea/misc.xml
.idea/libraries/
