<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cgiar.ilri.mistro.farmer"
    android:versionCode="2"
    android:versionName="0.8.21" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" /> <!--using target sdk version of 17 because actionbarsherlock uses 17. Otherwise gradle is unable to build project-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mistro" >

        <!--
        <receiver android:name="org.cgiar.ilri.mistro.farmer.backend.SMSHandler">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVER" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.FarmerRegistrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.CowRegistrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.MainMenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.MilkProductionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.MilkProcutionHistoryActivity" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.EventsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.AddEventActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.EventsHistoryActivity" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.FertilityActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.cgiar.ilri.mistro.farmer.AddMilkProductionActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
